@font-face {
    font-family: timer;
    src: url("CursedTimer.ttf");
 }
body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.scorecard {

     display: flex;
     justify-content: space-evenly;
    gap: 0.2rem;
    margin: 0em 8em;

}
.heading {
    font-size: 3em;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: rgba(33, 142, 0, 0.781);
    border-radius: 10%;
}
.guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: rgba(89, 44, 168, 0.849);
    border-radius: 10%;
}
.screen {
     padding: 0.3em 2em;
     margin: 0.2em 0.2em;
     font-size: 4rem;
     font-family: timer;
     background-color: black;
     border-radius: 10%;
     color: red;
}
.btns {
    display: flex;
     justify-content: space-between;
     gap: 2rem;
     padding: 2em 1em;
     
}
.buttons {
    font-size: 2rem;
    padding: 0.2em 2em;
    font-weight: bold;
    border-radius: 10%;
}
.board {
    font-size: 2rem;
    border: 2px dotted black;
    padding: 0.2em 1em;
    margin-bottom: 1.2em;
    border-radius: 10%;
}
.extra {
    display:flex;
     justify-content: space-between;
     gap: 2em;
}
.title {
    font-size: 1.5em;
}
.background {
    background: url("back.jpg");
    background-size: cover;
}